header{

  background: slateblue;
  font-family: helvetica;
  color: black;

}

body{
  background: salmon;
  font-family: helvetica;
  color: white;

}

p{
  font-size: 12px;
}

#soyunid{
  color: blue;
}

.soyunaclase{
  color: gray;
}
